.getNumber-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 20px;
    gap: 20px;
}

.getNumber {
    margin-right: 40rem;
    margin-top: -1.5rem;
    padding: 10px;
    font-size: 1.2rem;
    width: 10em;
}

.getNumber-container {
    height: 100px;
    width: 300px;
    background-color: rgb(233, 232, 232);
    padding: 20px;
    border-radius: 10px;
}

.getNumber-container h2 {
    font-size: 1.5rem;
    color: black;
}

.getNumber-container h3 {
    font-size: 1.2rem;
    color: rgb(79, 77, 77);
}

.selected-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    padding: 10px;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
}

.selected-data-header h4 {
    font-size: 1.2rem;
    font-family:  cursive;
}

.selected-data-header h4 span {
    font-size: 1.5rem;
    color: rgb(66, 90, 226);
    font-weight: bold;
}

.checkBox {
    height: 4vh;    
    width: 3vw;
    border-radius: 30%;
    cursor: pointer;
}

.selected-data-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.selected-data-container button {
    height: 3rem;
    width: 10vw;
    background-color: rgb(66, 90, 226);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10rem;
}

.getNumber-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
}

.getNumber-table table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

}

.getNumber-table th,
.getNumber-table td {
    border: 1px solid #ddd;
}

.getNumber-table th {
    background-color: rgb(66, 90, 226);
    color: white;
    text-align: center;
    padding: 10px;
}

.getNumber-table td {
    text-align: center;
    padding: 6px;
}

.disabled-btn {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}