* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Table Styling */

.scrapperList-main {
  width: 60vw;
  height: 100vh;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.car-heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  /* margin-bottom: 20px; */
  margin-top: -20px;
  transition: color 0.5s ease-in-out;
}

.heading-Unique {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  font-family: cursive;
}

.cinematic-heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /* Give it a cinematic feel */
  text-align: center;
  /* margin-bottom: 20px; */
  overflow: hidden;
  /* Hide overflow to create the reveal effect */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.cars-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: rgb(233, 232, 232);
  border-radius: 10px;
  margin-top: 2rem;
}

.cars-table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

}

.cars-table th,
.cars-table td {
  border: 1px solid #ddd;
}

.cars-table th {
  background-color: rgb(66, 90, 226);
  color: white;
  text-align: center;
  padding: 10px;
}

.cars-table td {
  text-align: center;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(245, 242, 242);
}